CREATE TABLE IF NOT EXISTS system_alerts (id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY, title TEXT NOT NULL, message TEXT, level TEXT NOT NULL CHECK (level IN ('info', 'warning', 'critical')), active BOOLEAN DEFAULT TRUE, created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL, expires_at TIMESTAMP WITH TIME ZONE);
